  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  header {
    background: linear-gradient(45deg, #5a15a0, #f66301);
    display: flex;
    align-items: center;
    }

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
  }

  .header-buttons {
    display: flex;
    gap: 20px;
  }

  .header-buttons button {
    font-family: 'Orbitron', sans-serif;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .header-buttons button:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 15px;
  }

  .form-box {
    width: 100%;
    max-width: 1000px;
    margin: 60px auto;
    padding: 50px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

  .form-title {
    font-family: 'Orbitron', sans-serif;
    background-color: #b0b0b0;
    padding: 12px;
    border-radius: 8px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }

  form {
    display: grid;
    gap: 15px;
  }

  .form-row {
    display: flex;
    flex-direction: column;
  }

  .dupla,
  .tripla {
    display: flex;
    gap: 10px;
  }

  .dupla > div,
  .tripla > div {
    flex: 1;
  }

  label {
    font-weight: bold;
    margin-bottom: 5px;
  }

  input,
  select,
  textarea {
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 15px;
  }

  textarea {
      resize: vertical;
    }

  .btn-cadastrar {
    padding: 12px;
    background-color: #5a15a0;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
  }

  .btn-cadastrar:hover {
    background-color: #4a0e8f;
  }

  footer {
    background: linear-gradient(45deg, #5a15a0, #f66301);
    padding: 20px;
    display: flex;
    justify-content: center;
  }

  .footer-buttons {
    display: flex;
    gap: 20px;
  }

  .footer-buttons button {
    font-family: 'Orbitron', sans-serif;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 10px 16px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .footer-buttons button:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
