@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  color: #333;
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Sora', sans-serif;
}

main {
  flex: 1;
}

.site-footer {
  background-color: #222;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.hidden {
  display: none;
}


/* Cabeçalho */
.site-header {
  background: linear-gradient(45deg, #5a15a0, #f66301);
  color: white;
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  width: 100vw;
}

.site-header .container {
  margin: 0 1.3vw;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header .logo {
  font-size: 24px;
  font-weight: bold;
  height: 8vh;
  max-height: 91px;
}

.site-header .nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.site-header .nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
  font-size: large;
}

.site-header .nav a:hover {
  text-decoration: underline;
}

.header-text {
  flex-grow: 1;
  text-align: left;
  font-size: 18px;
  font-weight: 300;
  margin-left: 20px;
  margin-right: 20px;
  color: rgba(255, 255, 255, 0.671);
}


/* Seção de busca */
.busca {
  margin: 40px auto;
  flex-wrap: wrap;
  padding: 0 20px;
}

.busca-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap; /* Para mobile ainda poder quebrar */
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
}

.search-wrapper {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  padding: 10px 20px;
  border-radius: 30px;
  flex: 1;
  min-width: 250px;
  max-width: 900px;
  width: 900px;
  
}

.search-wrapper:focus-within{
  background-color: #e0e0e0;
}

.search-wrapper .icon {
  font-size: 22px;
  margin-right: 10px;
  color: #aaa;
}

.search-wrapper input {
  border: none;
  background: transparent;
  outline: none;
  font-size: 18px;
  width: 100%;
  font-family: 'Inter', sans-serif;
  color: #444;
}


.search-wrapper .icon {
  font-size: 22px;
  margin-right: 10px;
  color: #aaa;
}

.btn-toggle-filtros {
  background-color: #f1f1f1;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 17px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #555;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-toggle-filtros i {
  font-size: 18px;
  color: #888; 
}

.btn-toggle-filtros:hover {
  background-color: #e0e0e0;
}

.btn-filtro {
  background-color: #f1f1f1;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 17px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #555;
  cursor: pointer;
  transition: background 0.3s ease;
  height: 2.7rem;
}

.btn-filtro:hover {
  background-color: #e0e0e0;
}

.hidden {
  display: none !important;
}

.filtros-opcoes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px auto;
  justify-content: center;
  max-width: 1000px;
  transition: all 0.3s ease;
  padding: 0 20px;
}

/* Grid de portfólios */
.grid-portfolios {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.1rem;
  justify-items: center;
  padding: 2rem;
  max-width: 1400px;
  margin: 0 auto;
}


.cartao-inner {
  background-color: #F3F3F3;
  width: 100%;
  max-width: 15.4rem;
  height: 19rem;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.507);
  transition: transform 0.3s ease;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.336);
}

.cartao-inner:hover {
  transform: translateY(-5px);
  transform: scale(1.05);
  transition: 0.7s;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  z-index: 10;
  position: relative;
}


.cartao-inner:active{
  transform: scale(0.9);
}

.cartao img {
  width: 114px;
  height: 116px;
  border-radius: 100%;
  margin-bottom: 0.5rem;
  object-fit: cover;
}

.cartao h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

/* Tags */
.tags {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.2rem;
  margin-bottom: 0.8rem;
}

.tag {
  padding: 4px 10px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  border: 2px solid currentColor;
  background-color: white;
}

.backend {
  color: #ff6b6b;
  border-color: #ff6b6b;
}

.frontend {
  color: #ff956b;
  border-color: #ff956b;
}

.python {
  color: #3477a1;
  border-color: #3477a1;
}

.java {
  color: #f89820;
  border-color: #f89820;
}

/* Botão */
.btn-portfolio {
  width: 14.7rem;
  height: 2.2rem;
  border-radius: 25px;
  margin-top: 50px;
  background: linear-gradient(45deg, #5a15a0, #f66301);
  color: #fff;
  text-decoration: none;
  border: none;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  transition: filter 0.3s ease;
}

.btn-portfolio:hover {
  filter: brightness(1.2);
}

/* Portfólio*/
.modal {
  display: none; /* Fica oculto por padrão */
  position: fixed; /* Fixa na tela, não no fluxo da página */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6); /* Fundo escurecido */
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Fica acima de tudo */
}

.modal-content {
  background: white;
  padding: 30px;
  max-width: 800px;
  width: 90%;
  max-height: 80vh;
  overflow-y: auto;
  border-radius: 10px;
  position: relative;
  font-family: 'Inter', sans-serif;
}

body.modal-aberto {
  overflow: hidden;
}


.btn-fechar {
  position: absolute;
  top: 10px;
  right: 15px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #888;
}

.modal-content h2 {
  margin-bottom: 10px;
}

.curso {
  margin-bottom: 20px;
  color: #555;
}

.descricao {
  margin-bottom: 20px;
}

.infos {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.infos li {
  margin-bottom: 8px;
}


/* Rodapé */
footer {
  background: linear-gradient(-45deg, #5a15a0, #f66301);
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

footer nav a:hover {
  text-decoration: underline;
}

.footer-bottom {
  margin-top: 20px;
  border-top: 1px solid #aaaaaad8;
  padding-top: 10px;
  font-size: small;
}

@media (max-width: 768px) {
  .site-header .container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .site-header .logo {
    height: 50px;
    margin-bottom: 8px;
  }

  .curso-titulo {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .nav ul {
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}


  .nav .menu li a {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .header-text {
    margin: 10px 0;
    text-align: center;
  }
  
  .busca-container {
    flex-direction: column;
    align-items: stretch;
  }

  .busca {
    margin: 20px auto;
    padding: 0 10px;
  }

  .search-wrapper {
    width: 100%;
    max-width: 100%;
  }

  .filter-button {
    width: 100%;
    justify-content: center;
  }


}

@media (max-width: 1200px) {
  .grid-portfolios {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .grid-portfolios {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .grid-portfolios {
    grid-template-columns: 1fr;
  }
}

[data-aos] {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

[data-aos].aos-animate {
  opacity: 1;
  transform: translateY(0);
}
