@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Sora', sans-serif;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-header {
  background: linear-gradient(45deg, #5a15a0, #f66301);
  color: white;
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  width: 100vw;
}

.site-header .container {
  margin: 0 1.3vw;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header .logo {
  font-size: 24px;
  font-weight: bold;
  height: 8vh;
  max-height: 91px;
}
.logo:hover {
  cursor: pointer;
}

.site-header .nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.site-header .nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
  font-size: large;
}

.site-header .nav a:hover {
  text-decoration: underline;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 15px;
}

.form-box {
  width: 100%;
  max-width: 1000px;
  margin: 60px auto;
  padding: 50px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.form-title {
  font-family: 'Sora', sans-serif;
  background-color: #b0b0b0;
  padding: 12px;
  border-radius: 8px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

form {
  display: grid;
  gap: 15px;
}

.form-row {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input,
select,
textarea {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 15px;
}

textarea {
    resize: vertical;
  }

.btn-cadastrar {
  padding: 12px;
  background-color: #5a15a0;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
}

.btn-cadastrar:hover {
  background-color: #4a0e8f;
}

footer {
  background: linear-gradient(-45deg, #5a15a0, #f66301);
  color: #fff; 
  padding: 20px;
  text-align: center;
}

footer .container {
  max-width: 1200px;
  margin: 0 auto; 
}

footer nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px; 
}

footer nav a:hover {
  text-decoration: underline; 
}


.footer-bottom {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #aaaaaad8;
  padding-top: 10px;
  color: #fff;
  font-size: small;
}
.dupla {
  display: flex;
  gap: 20px;
  flex-direction: row;
}
#idade{
  width: 60px;
}
#nome{
  width: 500px;
}
.tripla {
  display: flex;
  gap: 10px;
  flex-direction: row;
}
